jalangi_tmp/*
instrumentFF_tmp/*
instrumentFF_tmp_instr.js
instrumentFF_tmp_orig.js
thirdparty/selenium-server-standalone-2.41.0.jar
thirdparty/evaluation/
thirdparty/jalangiff.zip
thirdparty/jalangiff/
sunspider/*
octane/*
websites/*
tests/jslint/JSLint
tests/dlint/*_jalangi_.js
scripts/doNotUseDlint.txt